@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linear-gradient {
    @apply bg-gradient-to-r from-[#3D8BFF]  to-[#AB23FF];
  }

  html {
    @apply bg-black;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.passing-through {
  border-radius: 0.375rem;
  background: linear-gradient(175deg, #3d8bff 4.29%, #ab23ff 95.71%);
  mix-blend-mode: soft-light;
}

.gradient {
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
